.caixa{
    width: 100%;
    border: 1px solid #c4c4c4;
    height: 20vh;
    cursor: pointer;
}

.caixa i{
    font-size: 3.5rem;
    width: 100%;
    height: 60%;
    color: #212738;
}

.caixa div{
    font-size: 1.2rem;
    width: 100%;
    height: 40%;
    color: #707070;
}


.caixa:hover i{
    background-color: #212738;
    transition: all 0.5s;
    color: white;
}

.caixa:hover div{
    background-color: #212738;
    color: white;
    transition: all 0.5s;
}

