@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Navbar */

.menu {
    background-color: #212738;
}

.menu-link {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.nav-item button{
    margin-left: .5rem;
    margin-top: .5rem;
}



/*Banner*/

.navbar-brand img{

}