.body{
    background-color: #FFFFFF;
}

.caixa1, .caixa4{
    border: 2px solid #898989;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    color: #898989;
}

.caixa2, .caixa3{
    width: 100%;
    height: 100%;
    background-color: #898989;
}

.caixa3{
    background-image: url(../img/quemsomos.png);
    background-size: cover;
    background-position: center;
}

.titulo{
    font-size: 1.6rem;
}