
/* projetos ja realizados */

.fileira{
    margin: 10px;
    border: 1px solid gray;

}
p{
    margin-bottom: 40px;
}


.text-center{
    margin-bottom: 100px;
}

/* ficou interessado?================ */
#interessado{
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 50px;
    height: 67px;
}

/* botao================ */


#botao{ text-align: center }
.botaoEnviar{
    opacity: 1;
    min-width: 30%;
    height: 100px;
    color: white;
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
    background: 0% 0% no-repeat padding-box;
    background-color: #0162B3;
    font-size: 35px;
    font-weight: 400;
    border: 1px solid #707070;
}

@media only screen and (max-width: 464px) {
    #interessado{
        margin-bottom: 30px;
        
    }

    .botaoEnviar{
        height: 60px;
        min-width: 20%;
        font-size: 25px;
    }
  }

  
@media only screen and (max-width: 406px) {
    #interessado{
        margin-bottom: 70px;
        margin-top: 0px;
        
    }

    .text-center{
        margin-bottom: 20px;
    }
    .botaoEnviar{
        height: 60px;
        min-width: 20%;
        font-size: 25px;
    }
  }