.pqseed{
    margin-top: 6%;
    letter-spacing: 0px;
    color: #141721;
    opacity: 1;
    font-size: 45px;
    height: 67px;
    margin-bottom: 40px;
}

p{
    text-align: center;
}


@media only screen and (max-width: 600px) {

    .pqseed{
        font-size: 30px;
    }
  }

  @media only screen and (max-width: 370px) {
    .pqseed{
        font-size: 30px;
    }
  }