
/* projetos ja realizados */
.pqseed{
    margin-top: 6%;
    letter-spacing: 0px;
    color: #141721;
    opacity: 1;
    font-size: 45px;
    height: 67px;

}

.fileira{
    margin: 10px;

}
p{
    margin-bottom: 40px;
}


.text-center{
    margin-bottom: 100px;
}

/* ficou interessado?================ */
#interessado{
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 50px;
    height: 67px;
}

/* botao================ */


#botao{ text-align: center }
.botaoEnviar{
    opacity: 1;
    min-width: 30%;
    height: 100px;
    color: white;
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
    background: 0% 0% no-repeat padding-box;
    background-color: #0162B3;
    font-size: 35px;
    font-weight: 400;
    border: 1px solid #707070;
}

