@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Navbar */

.menu {
    background-color: #212738;
}

.menu-link {
    color: #fff;
    font-family: 'Roboto', sans-serif;}



/*Banner*/

.navbar-brand img{

}