

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Navbar */

.menu {
    background-color: #212738;
}

.menu-link {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.nav-item button{
    margin-left: .5rem;
    margin-top: .5rem;
}



/*Banner*/

.card h2{
    font-family: 'Roboto', sans-serif;
    color: rgb(17, 17, 32);
    font-size: 2.9rem;
}

.caixa{
    width: 100%;
    border: 1px solid #c4c4c4;
    height: 20vh;
    cursor: pointer;
}

.caixa i{
    font-size: 3.5rem;
    width: 100%;
    height: 60%;
    color: #212738;
}

.caixa div{
    font-size: 1.2rem;
    width: 100%;
    height: 40%;
    color: #707070;
}


.caixa:hover i{
    background-color: #212738;
    transition: all 0.5s;
    color: white;
}

.caixa:hover div{
    background-color: #212738;
    color: white;
    transition: all 0.5s;
}

.body{
    background-color: #FFFFFF;
}

.caixa1, .caixa4{
    border: 2px solid #898989;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    color: #898989;
}

.caixa2, .caixa3{
    width: 100%;
    height: 100%;
    background-color: #898989;
}

.caixa3{
    background-image: url(../img/quemsomos.png);
    background-size: cover;
    background-position: center;
}

.titulo{
    font-size: 1.6rem;
}

.divVisao{
    color: #898989;
}
.caixa4{
    border: 2px solid #898989;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    color: #898989;
}

