.pqseed{
    margin-top: 6%;
    letter-spacing: 0px;
    color: #141721;
    opacity: 1;
    font-size: 45px;
    height: 67px;
}

.fileira{
    margin: 10px;
}
p{
    text-align: center;
    margin-bottom: 40px;
}

